#wrap-about-top
  height: 100vh
  overflow: hidden

.wrap-about-content
  position: relative
  z-index: 2
  padding: 15em 5em 5em 5em
  text-align: center

  .btn
    margin: 1em
    font-size: 1.25em