// Animations

+keyframes(showContent)
  0%
    opacity: 0
    transform: scale(0.25)

  100%
    opacity: 1

+keyframes(starsBgHome)
  0%
    transform: scale(1)

  40%
    transform: scale(0.95)

+keyframes(starMotionHome1)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.15)

  51%
    opacity: 0
    transform: scale(0.85)

  100%
    opacity: 1

+keyframes(starMotionHome2)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.5)

  51%
    opacity: 0
    transform: scale(0.5)

  75%
    opacity: 1

+keyframes(starsBgWork)
  0%
    transform: scale(1)

  40%
    transform: scale(0.95)

+keyframes(starMotionWork1)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.15)

  51%
    opacity: 0
    transform: scale(0.85)

  100%
    opacity: 1

+keyframes(starMotionWork2)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.5)

  51%
    opacity: 0
    transform: scale(0.5)

  75%
    opacity: 1

+keyframes(starsBgAbout)
  0%
    transform: scale(1)

  40%
    transform: scale(0.95)

+keyframes(starMotionAbout1)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.15)

  51%
    opacity: 0
    transform: scale(0.85)

  100%
    opacity: 1

+keyframes(starMotionAbout2)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.5)

  51%
    opacity: 0
    transform: scale(0.5)

  75%
    opacity: 1

+keyframes(starsBgContact)
  0%
    transform: scale(1)

  40%
    transform: scale(0.95)

+keyframes(starMotionContact1)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.15)

  51%
    opacity: 0
    transform: scale(0.85)

  100%
    opacity: 1

+keyframes(starMotionContact2)
  0%
    opacity: 1
    transform: scale(1)

  50%
    opacity: 0
    transform: scale(1.5)

  51%
    opacity: 0
    transform: scale(0.5)

  75%
    opacity: 1

+keyframes(workStarsBgUp)
  33%
    transform: translateY(-1.5em)

+keyframes(workStarsBgDown)
  33%
    transform: translateY(1.5em)

+keyframes(workUp1)
  0%
    transform: none

  50%
    transform: translateY(15vh)
    opacity: 0

  51%
    transform: translateY(-15vh)
    opacity: 0

+keyframes(workUp2)
  0%
    transform: none

  50%
    transform: translateY(100vh)
    opacity: 0

  51%
    transform: translateY(-100vh)
    opacity: 0

+keyframes(workDown1)
  0%
    transform: none

  50%
    transform: translateY(-15vh)
    opacity: 0

  51%
    transform: translateY(15vh)
    opacity: 0

+keyframes(workDown2)
  0%
    transform: none

  50%
    transform: translateY(-100vh)
    opacity: 0

  51%
    transform: translateY(100vh)
    opacity: 0

+keyframes(animScroll1)
  0%
    opacity: 0.25

  10%
    opacity: 1

  55%
    opacity: 0.25

+keyframes(animScroll2)
  0%
    opacity: 0.25

  20%
    opacity: 0.25

  30%
    opacity: 1

  75%
    opacity: 0.25

+keyframes(animScroll3)
  0%
    opacity: 0.25

  40%
    opacity: 0.25

  50%
    opacity: 1

  100%
    opacity: 0.25
