#contact
  .bg-contact
    background-image: url('../images/bg-plant.jpg')
    filter: saturate(1.5) hue-rotate(30deg) brightness(0.25)
    opacity: 0.95

#wrap-contact-top
  min-height: 100vh
  overflow: hidden
  background: $color-secondary

.wrap-contact-content
  position: relative
  z-index: 2
  padding: 15em 5em 5em 5em
  pointer-events: visible !important
  text-align: center

  .btn
    margin: 1em
    font-size: 1.25em