#wrap-home-top 
  overflow: hidden
  width: 100vw
  height: 100vh

  @media (max-width: $mdscreen)
    height: 100%
    overflow: auto
    min-height: 56.5em

  .home-intro
    text-align: center
    color: $color-light
    margin: 28vh auto 10vh
    width: 100%
    max-width: 64rem
    left: 0
    right: 0

    @media (max-width: $mdscreen)
      margin: 12em auto 5em

    h1
      font-size: 5em
      margin: 0.5em
      color: white

      @media (max-width: $lgscreen)
        font-size: 4.5em

      @media (max-width: $mdscreen)
        font-size: 4em

      @media (max-width: $smscreen)
        font-size: 3.5em

  .btn
    margin: 3.33em auto
    font-size: 1.5em
    display: inline-block

#wrap-home-bottom
  position: relative

  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    min-height: calc(100vh + 10em)
    width: 100vw
    background-size: cover
    background-position: center center
    background-color: $color-dark
    background-image: url('../images/bg-space.jpg')
    filter: brightness(0.25)
    opacity: 1
    transform: rotate(180deg) scaleX(-1)
    z-index: -1

  .wrap-inner
    padding: 2em 4em 3.33em
    background: linear-gradient(white 25%, $color-lighter)
    position: relative
    font-size: 2.15em
    text-align: center
    z-index: 2
    display: block
    width: calc(100% - 3em)
    margin: 0 auto
    border-radius: $radius-border * 3.33
    filter: drop-shadow(0 0 1.5em rgba($color-accent, 0.15)) drop-shadow(0 -1em 1.5em rgba($color-accent, 0.15)) drop-shadow(0 1.5em 2em rgba($color-accent, 0.15))
    box-shadow: 0 0 0.25em rgba(black, 0.5)
      
    @media (max-width: $mdscreen)
      padding: 3em
      min-height: 0

    @media (max-width: $smscreen)
      padding: 1.5em 1.25em 2.25em
      width: calc(100% - 2em)

    &:after
      content: ""
      position: absolute
      height: 0
      width: 0
      border-style: solid
      border-width: 1.5em
      top: 100%
      left: 0
      right: 0
      margin: auto
      border-color: $color-lighter transparent transparent

    h2
      color: $color-accent
      font-size: 3.5em
      margin: 0.25em 0
      text-shadow: 0 2px 0 white

      @media (max-width: $mdscreen)
        font-size: 3em

      @media (max-width: $smscreen)
        font-size: 2.5em

    h3
      font-size: 1.75em
      font-weight: 100
      margin: 0.75em 0 1em
      text-shadow: 0 1px 0 white
      color: $color-body-text

      @media (max-width: $mdscreen)
        font-size: 1.5em

      @media (max-width: $smscreen)
        font-size: 1em

    .btn
      font-size: 0.67em
      margin: 1em
      display: inline-block

      @media (max-width: $mdscreen)
        font-size: 0.67em

      @media (max-width: $smscreen)
        font-size: 0.575em
        margin: 0.75em auto
        width: 100%;

#wrap-home-portrait
  position: relative
  z-index: 1
  overflow: hidden
  text-align: center

  &:after
    content: ""
    position: absolute
    top: -5em
    left: -5em
    min-height: calc(100vh + 10em)
    width: calc(100vw + 10em)
    background-size: cover
    background-position: center center
    background-color: $color-dark
    background-image: url('../images/bg-space.jpg')
    filter: brightness(0.25)
    opacity: 1
    z-index: -1

  .portrait-wrap
    position: relative
    z-index: 3
    padding: 5em 0 0
    
    @media (max-width: $mdscreen)
      padding-top: 3em
      padding-bottom: 3em

    @media (max-width: $smscreen)
      padding-top: 1.5em
      padding-bottom: 0
      margin: -6em 0

    canvas
      transform: scale(0.925)
      transform-origin: center bottom
      cursor: pointer

      @media (max-width: $smscreen)
        transform: scale(1)
 
.home #controlKit
  z-index: -1
  position: fixed
  opacity: 0
