#wrap-home-top 
  overflow: hidden
  width: 100vw
  height: 100vh

  @media (max-width: $mdscreen)
    height: 100%
    overflow: auto
    min-height: 56.5em

  .home-intro
    text-align: center
    color: $color-light
    margin: 28vh auto 10vh
    width: 100%
    max-width: 64rem
    left: 0
    right: 0

    @media (max-width: $mdscreen)
      margin: 12em auto 5em

    h1
      font-size: 5em
      margin: 0.5em

      @media (max-width: $lgscreen)
        font-size: 4.5em

      @media (max-width: $mdscreen)
        font-size: 4em

      @media (max-width: $smscreen)
        font-size: 3.5em

  .btn
    margin: 3.33em auto
    font-size: 1.5em
    display: inline-block

    @media (max-width: $smscreen)
      font-size: 1.25em

#wrap-home-bottom
  padding: 4em
  background: linear-gradient(100deg, white 25%, $color-light)
  position: relative
  font-size: 2.15em
  text-align: center
  z-index: 2
  display: block

  @media (max-width: $mdscreen)
    padding: 3em

  @media (max-width: $smscreen)
    padding: 1.5em 1.33em 5.5em

  h2
    color: $color-accent
    font-size: 4em
    margin: 0.25em 0
    text-shadow: 0 2px 0 white

    @media (max-width: $mdscreen)
      font-size: 3em

    @media (max-width: $smscreen)
      font-size: 2.5em

  h3
    font-size: 2em
    font-weight: 100
    margin: 0.75em 0 1em
    text-shadow: 0 1px 0 white

    @media (max-width: $mdscreen)
      font-size: 1.5em

    @media (max-width: $smscreen)
      font-size: 1.33em

  .btn
    font-size: 0.75em
    margin: 1em 2em 4em 0
    display: inline-block

    @media (max-width: $mdscreen)
      font-size: 0.67em

    @media (max-width: $smscreen)
      font-size: 0.5em
      margin: 1em auto 0.5em
