*
  box-sizing: border-box

html
  height: 100%

body
  padding: 0
  margin: 0
  background: $color-light
  font-size: calc(14px + 0.15vh)
  font-family: 'Source Sans Pro'
  color: $color-dark
  font-weight: 400

  @media (max-width: $lgscreen)
    font-size: calc(13px + 0.15vh)

  @media (max-width: $mdscreen)
    font-size: 14px

  @media (max-width: $smscreen)
    font-size: 12px

  @media (max-width: $xsscreen)
    font-size: 11px

a
  color: $color-accent
  text-decoration: none
  transition: color ease $speed-trans

  &:hover
    color: white

ul, li
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4, h5
  font-family: 'Source Code Pro'
  font-weight: 300
  letter-spacing: -0.026em

  &.sans
    font-family: 'Source Sans Pro'
    letter-spacing: 0

  a
    border-bottom: 2px dotted fade-out($color-accent, 0.67)

    &:hover
      border: none

h1
  font-size: 3.33em

h2
  font-size: 3em

h3
  font-size: 2.5em

header
  padding: 2.5em 0 3.33em
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 2
  background: linear-gradient(rgba(black, 0.67), transparent)

.wrap-logo
  float: left
  color: $color-light
  margin: 0 0 0 6.67%

  @media (max-width: $smscreen)
    width: 100%
    text-align: center
    margin: 0
    font-size: 1.15em

  @media (max-width: $xsscreen)
    font-size: 1em

  h1
    margin: 0
    font-size: 2em

  span:first-child
    margin-right: 0.25em
    color: $color-light

  span:last-child
    color: $color-accent

nav
  float: right
  padding: 1em 6.67% 0.67em 0
  position: relative

  @media (max-width: $mdscreen)
    padding-right: 1.67em

  @media (max-width: $smscreen)
    padding: 2.5em 0
    position: fixed
    font-size: 1.25em
    bottom: 0
    width: 100%
    text-align: center
    background: linear-gradient(transparent, rgba(black, 0.5))

  a
    padding: 1.25em 1.5em
    color: $color-light
    text-transform: uppercase

    &:hover
      color: $color-accent

    &:last-child
      margin-right: -1.5em

    @media (max-width: $smscreen)
      padding: 1.5em 2em

.app-inner
  position: absolute
  min-height: 100vh
  width: 100vw
  overflow-x: hidden
  overflow-y: scroll

.work .app-inner
  overflow-y: hidden

.wrap-inner
  max-width: 64rem
  margin: 0 auto

.bg-wrap
  height: 100vh
  width: 100vw
  z-index: 0

  .bg
    content: ""
    position: absolute
    height: 100vh
    width: 100vw

    &:after
      content: ""
      position: absolute
      top: -3em
      left: -6em
      min-height: calc(100vh + 6em)
      width: calc(100vw + 12em)
      background-size: cover
      background-position: center center
      background-color: $color-dark
      background-image: url('../images/bg-space2.jpg')
      filter: brightness(0.25)

.anim-scroll
  display: block
  text-align: center
  width: 100%

  > span
    content: ""
    width: 2px
    margin: 0 auto
    height: 0.75em
    display: block
    background: $color-accent
    text-align: center
    opacity: 0.25
    position: relative

    &:nth-child(1)
      animation: animScroll1 $speed-animScroll infinite

    &:nth-child(2)
      animation: animScroll2 $speed-animScroll infinite

    &:nth-child(3)
      animation: animScroll3 $speed-animScroll infinite

      &:after
        content: ""
        position: absolute
        top: 100%
        border-style: solid
        border-width: 8px
        left: -7px
        border-color: $color-accent transparent transparent

#home, #work, #about, #contact
  width: 100%

.home, .work, .about, .contact
  #wrap-home-top, #wrap-work-top, #wrap-about-top, #wrap-contact-top
    animation: showContent $speed-anim forwards ease

.home
  .bg-stars
    animation: starsBgHome $speed-anim forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionHome1 $speed-anim forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionHome2 $speed-anim forwards ease

.work
  .wrap-nav a:nth-child(1)
    color: $color-accent
    cursor: default

  .bg-stars
    animation: starsBgWork $speed-anim forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionWork1 $speed-anim forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionWork2 $speed-anim forwards ease

.about
  .wrap-nav a:nth-child(2)
    color: $color-accent
    cursor: default

  .bg-stars
    animation: starsBgAbout $speed-anim forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionAbout1 $speed-anim forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionAbout2 $speed-anim forwards ease

.contact
  .wrap-nav a:nth-child(3)
    color: $color-accent
    cursor: default

  .bg-stars
    animation: starsBgContact $speed-anim forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionContact1 $speed-anim forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionContact2 $speed-anim forwards ease

// Sucky 3rd party overrides

.bg-wrap.layer
  position: absolute !important

header,
.app-inner,
#wrap-home-top, 
#wrap-home-bottom,
#wrap-about-top, 
#wrap-contact-top
  pointer-events: visible !important
