*
  box-sizing: border-box

html
  height: 100%

body
  padding: 0
  margin: 0
  background: $color-dark
  font-size: calc(14px + 0.15vh)
  font-family: 'Source Sans Pro', sans-serif
  color: $color-dark
  font-weight: 400

  @media (max-width: $lgscreen)
    font-size: calc(13px + 0.15vh)

  @media (max-width: $mdscreen)
    font-size: 14px

  @media (max-width: $smscreen)
    font-size: 12px

  @media (max-width: $xsscreen)
    font-size: 11px

a
  color: $color-accent
  text-decoration: none
  transition: color ease $speed-trans, border ease $speed-trans

  &:hover
    color: white

input, textarea
  border-radius: 0

ul, li
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4, h5
  font-family: 'Source Code Pro'
  font-weight: 300
  letter-spacing: -0.026em

  &.sans
    font-family: 'Source Sans Pro'
    letter-spacing: 0

  a
    border-bottom: 2px dashed fade-out($color-accent, 0.5)

    &:hover
      border-bottom: 2px solid $color-accent

h1
  font-size: 3.33em

h2
  font-size: 3em

h3
  font-size: 2.5em

header
  padding: 2.5em 0 0
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 2

  @media (max-width: $mdscreen)
    z-index: 3

  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100% + 2.5em)
    background: linear-gradient(rgba(black, 0.5), transparent)
    z-index: -1
    pointer-events: none

.wrap-logo
  float: left
  color: $color-light
  margin: 0 0 0 6.67%

  @media (max-width: $smscreen)
    width: 100%
    text-align: center
    margin: 0
    font-size: 1.15em

  @media (max-width: $xsscreen)
    font-size: 1em

  h1
    margin: 0
    font-size: 2em
    transition: text-shadow ease $speed-faster

    &:hover
      text-shadow: 0 0 0.5em $color-accent, 0 1px 2px black, 0 2px 4px black

      span:first-child
        color: $color-accent

      span:last-child
        color: $color-light

  span
    transition: color ease $speed-fast

  span:first-child
    margin-right: 0.25em
    color: $color-light

  span:last-child
    color: $color-accent

nav
  float: right
  padding: 1em 6.67% 0.67em 0
  position: relative

  @media (max-width: $mdscreen)
    padding-right: 1.67em

  @media (max-width: $smscreen)
    padding: 0
    position: fixed
    font-size: 1.25em
    bottom: 0
    width: 100vw
    text-align: center
    background: rgba($color-accent, 0.975)
    box-shadow: 0 -0.15em 0.33em rgba(black, 0.25)
    z-index: 5

  a
    padding: 1.25em 1.5em
    color: $color-light
    text-transform: uppercase

    &:hover
      color: $color-accent

    &:last-child
      margin-right: -1.5em

    @media (max-width: $smscreen)
      padding: 1.25em 0 1.5em
      width: 33.33vw
      float: left
      text-shadow: 0 1px 1px rgba(black, 0.25)
      font-weight: 600
      font-size: 1.15em

.loading
  position: fixed
  z-index: 10
  color: $color-accent
  text-align: center
  font-size: 3em
  width: 100%
  margin-top: 25%
  font-family: 'Source Sans Pro', sans-serif

.app-inner
  position: absolute
  min-height: 100vh
  width: 100vw
  overflow-x: hidden
  overflow-y: auto

  @media (max-width: $mdscreen)
    min-height: 100%

.work .app-inner
  overflow-y: hidden

  @media (max-width: $workscreen)
    overflow-y: auto
    
.wrap-inner
  max-width: 64rem
  margin: 0 auto

.bg-wrap
  height: 100vh
  width: 100vw
  z-index: 0

  @media (max-width: $lgscreen)
    height: 100%

  @media (max-width: $mdscreen)
    height: 100%

  .bg
    content: ""
    position: absolute
    height: 100vh
    width: 100vw

    @media (max-width: $mdscreen)
      height: 100%

    &:after
      content: ""
      position: absolute
      top: -5em
      left: -5em
      min-height: calc(100vh + 10em)
      width: calc(100vw + 10em)
      background-size: cover
      background-position: center center
      background-color: $color-dark
      background-image: url('../images/bg-space.jpg')
      filter: brightness(0.25)
      opacity: 0.85

      @media (max-width: $mdscreen)
        min-height: 80em

      @media (max-width: $smscreen)
        min-height: 72em

.anim-scroll
  display: block
  text-align: center
  width: 100%

  > span
    content: ""
    width: 2px
    margin: 0 auto
    height: 0.75em
    display: block
    background: $color-accent
    text-align: center
    opacity: 0.15
    position: relative

    &:nth-child(1)
      animation: animScroll1 $speed-animScroll infinite
      animation-delay: $speed-anim * 2

    &:nth-child(2)
      animation: animScroll2 $speed-animScroll infinite
      animation-delay: $speed-anim * 2

    &:nth-child(3)
      animation: animScroll3 $speed-animScroll infinite
      animation-delay: $speed-anim * 2

      &:before, &:after
        content: ""
        position: absolute
        top: 100%
        border-style: solid

      &:before
        border-width: 6px
        left: -5px
        border-color: $color-dark transparent transparent
        z-index: 1

      &:after
        border-width: 9px
        left: -8px
        border-color: $color-accent transparent transparent

#home, #work, #about, #contact
  width: 100%
  position: relative !important

.home, .work, .about, .contact
  #wrap-home-top, #wrap-work-top, #wrap-about-top, #wrap-contact-top
    animation: showContent $speed-anim * 1.075 forwards ease

.home
  .bg-stars:after
    animation: starsBgHome $speed-anim * 1.5 forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionHome1 $speed-anim * 1.25 forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionHome2 $speed-anim forwards ease

.work
  .wrap-nav a:nth-child(1)
    color: $color-accent
    cursor: default

    @media (max-width: $smscreen)
      color: $color-primary-darker
      text-shadow: 0 1px 0 rgba(white, 0.25)

  .bg-stars:after
    position: fixed
    animation: starsBgWork $speed-anim * 1.5 forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionWork1 $speed-anim * 1.25 forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionWork2 $speed-anim forwards ease

.about
  .wrap-nav a:nth-child(2)
    color: $color-accent
    cursor: default

    @media (max-width: $smscreen)
      color: $color-primary-darker
      text-shadow: 0 1px 0 rgba(white, 0.25)

  .bg-stars:after
    animation: starsBgAbout $speed-anim * 1.5 forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionAbout1 $speed-anim * 1.25 forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionAbout2 $speed-anim forwards ease

.contact
  .wrap-nav a:nth-child(3)
    color: $color-accent
    cursor: default

    @media (max-width: $smscreen)
      color: $color-primary-darker
      text-shadow: 0 1px 0 rgba(white, 0.25)

  .bg-stars:after
    animation: starsBgContact $speed-anim * 1.5 forwards ease

  .star-field.field-1, .star-field.field-2
    animation: starMotionContact1 $speed-anim * 1.25 forwards ease

  .star-field.field-3, .star-field.field-4
    animation: starMotionContact2 $speed-anim forwards ease

// Sucky 3rd party overrides

.bg-wrap.layer
  position: absolute !important

header,
.app-inner,
#wrap-home-top, 
#wrap-home-bottom,
#wrap-about-top, 
#wrap-contact-top
  pointer-events: visible !important
