.bg-stars
  background-image: url('../images/bg-space2.jpg')
  filter: brightness(0.25)
  opacity: 0.75

.star-field
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  pointer-events: none

  &.field-1, &.field-2
    z-index: 0
    opacity: 0.85

  &.field-3, &.field-4
    z-index: 2
    opacity: 0.85

  &.field-1
    .star:nth-child(1)
      left: 46vw
      top: 58vh
      transform: scale(0.67)
      filter: blur(0.37em)
      opacity: 0.85

      &:after
        transform: scale(0.75)

    .star:nth-child(2)
      right: 25vw
      top: 25vh
      transform: scale(0.75)
      filter: blur(0.5em)
      opacity: 0.75

      &:after
        transform: scale(0.75)

    .star:nth-child(3)
      left: 33vw
      top: 15vh
      transform: scale(0.87)
      filter: blur(0.38em)
      opacity: 0.5

      &:after
        transform: scale(0.925)

    .star:nth-child(4)
      left: 10vw
      bottom: 15vh
      transform: scale(0.75)
      filter: blur(0.25em)
      opacity: 0.85

      &:after
        transform: scale(0.85)

  &.field-2
    .star:nth-child(1)
      right: 4vw
      top: 33vh
      transform: scale(0.87)
      filter: blur(0.275em)
      opacity: 0.85

      &:after
        transform: scale(0.925)

    .star:nth-child(2)
      left: 10vh
      top: 25vh
      transform: scale(0.87)
      filter: blur(0.3em)
      opacity: 0.5

      &:after
        transform: scale(0.925)

    .star:nth-child(3)
      right: 16vh
      bottom: 10vh
      transform: scale(0.87)
      filter: blur(0.37em)

      &:after
        transform: scale(0.925)

    .star:nth-child(4)
      left: 50vw
      bottom: 25vh
      transform: scale(0.87)
      filter: blur(0.45em)
      opacity: 0.5

      &:after
        transform: scale(0.925)

  &.field-3
    .star:nth-child(1)
      right: 43vw
      top: 23vh
      transform: scale(0.67)
      filter: blur(0.105em)
      opacity: 0.75

      &:after
        transform: scale(1)

    .star:nth-child(2)
      right: 5vw
      top: 55vh
      transform: scale(0.75)
      filter: blur(0.15em)
      opacity: 0.85

      &:after
        transform: scale(0.925)
        opacity: 0.1

    .star:nth-child(3)
      left: 12vw
      top: 54vh
      transform: scale(0.95)
      filter: blur(0.125em)
      opacity: 0.95

      &:after
        transform: scale(0.925)
        opacity: 0.25

    .star:nth-child(4)
      left: 76vw
      bottom: 48vh
      transform: scale(0.5)
      filter: blur(0.15em)
      opacity: 0.5

      &:after
        transform: scale(0.925)
        opacity: 0.85

  &.field-4
    .star:nth-child(1)
      right: 12vw
      top: 65vh
      transform: scale(0.8)
      filter: blur(0.12em)
      opacity: 0.25

      &:after
        transform: scale(0.85)

    .star:nth-child(2)
      right: 29vw
      top: 19vh
      transform: scale(0.97)
      filter: blur(0.075em)
      opacity: 0.33

      &:after
        transform: scale(0.925)

    .star:nth-child(3)
      right: 26vw
      bottom: 9vh
      transform: scale(0.77)
      filter: blur(0.15em)
      opacity: 0.5

      &:after
        transform: scale(1.25)
        opacity: 0.15

    .star:nth-child(4)
      left: 11vw
      bottom: 23vh
      transform: scale(0.57)
      filter: blur(0.25em)
      opacity: 0.75

      &:after
        transform: scale(0.925)

  .star
    content: ""
    height: 0.575em
    width: 0.575em
    background: white
    border-radius: 50%
    position: absolute
    z-index: 1

    &.ring:after
      content: ""
      position: absolute
      height: calc(100% + 2em - 1px)
      width: calc(100% + 2em - 1px)
      top: -1em
      left: -1em
      border: 1px solid white
      border-radius: 50%
      opacity: 0.75
      filter: blur(0.25em)