#wrap-work-top
  overflow: hidden
  width: 100vw
  height: 100vh

  @media (max-width: $workscreen)
    height: 100%
    width: 100%
    overflow: auto

  .SectionContainer
    text-align: center
    z-index: 1
    color: $color-light
    height: 100%
    width: 100%
    padding: 1.5em 0 0

.work-wrap
  position: relative
  height: 100%
  width: 100%
  overflow: hidden

.work-item-wrap
  padding: 0 5em
  transform: translate3d(22vw,100vh,0) scale(0.5)
  filter: blur(0.33em)
  opacity: 0.25
  transition-property: transform, opacity
  transition-timing-function: ease
  transition-duration: $speed-anim
  transform-origin: top center

  @media (max-width: $lgscreen)
    padding: 0 5em 0 1.25em
    transform: none
    opacity: 1

  &.active
    transform: none
    opacity: 1
    z-index: 1
    pointer-events: visible
    filter: none

.work-item
  display: flex
  padding: 0
  margin: 0 auto
  max-width: 72em
  background: linear-gradient(160deg, transparent 33%, fade-out($color-quaternary, 0.5))
  box-shadow: 0 0.5em 0.75em rgba(black, 0.33)

.work-mobile
  position: relative
  top: 0
  left: 0
  padding: 10em 0 0
  height: 100%
  width: 100%
  overflow: auto
  color: $color-light

  .work-item-wrap
    transform: none
    filter: none
    padding: 3.33em 0 0
    position: relative
    overflow: hidden

  .work-name
    width: 100%
    position: relative
    z-index: 1
    margin: 1.5em 2.75em

    h3
      padding: 0
      border: none
      font-size: 2.25em

    h4
      margin: 2em 0.25em
      font-size: 1.075em

    .btn
      display: none

  .work-img
    position: absolute
    z-index: 0
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 0
    padding: 0
    margin: 0
    filter: grayscale(0.85)
    opacity: 0.15

.work-name, .work-img
  width: 50%
  flex: 1
  margin: 3em

.work-name
  text-align: left

  p
    margin: 0
    line-height: 1
    color: $color-accent
    font-size: 1.5em

  h3
    margin: 0
    padding: 0.15em 0 0.5em
    font-size: 3em
    font-weight: 400
    line-height: 1.15
    border-bottom: 1px dashed rgba(white, 0.25)

  h4
    font-weight: 400
    margin: 2.5em 0.25em
    padding: 0.33em 0 0.33em 2em
    font-size: 1.15em
    line-height: 1.67
    border-left: 2px solid $color-accent

  .btn
    margin: 0 0 2em 2.5em
    display: inline-block
    font-size: 1.15em

.work-img
  position: relative
  box-shadow: 0 0.25em 0.5em rgba(black, 0.33)
  border-right: 1px solid rgba(white, 0.25)
  border-bottom: 1px solid rgba(white, 0.25)
  background-size: cover
  background-position: 10% 0

  &.brendans-world
    background-image: url('../images/work/brendans-world.png')
    
  &.nebula-v1
    background-image: url('../images/work/nebula-1.png')

  &.milk
    background-image: url('../images/work/milk.png')

  &.kourthouse
    background-image: url('../images/work/kourthouse.png')

  &.greene-street
    background-image: url('../images/work/greene-street.png')

  &.nebula-v5
    background-image: url('../images/work/nebula-5.png')

.work.up
  #star-bg
    animation: workStarsBgUp $speed-anim forwards ease

  .field-1 .star, .field-2 .star
    animation: workUp1 $speed-anim forwards ease

  .field-3 .star, .field-4 .star
    animation: workUp2 $speed-anim forwards ease

.work.down
  #star-bg
    animation: workStarsBgDown $speed-anim forwards ease

  .field-1 .star, .field-2 .star
    animation: workDown1 $speed-anim forwards ease

  .field-3 .star, .field-4 .star
    animation: workDown2 $speed-anim forwards ease
