@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Source+Code+Pro:300,400");
@-webkit-keyframes showContent {
  0% {
    opacity: 0;
    transform: scale(0.25); }
  100% {
    opacity: 1; } }

@-moz-keyframes showContent {
  0% {
    opacity: 0;
    transform: scale(0.25); }
  100% {
    opacity: 1; } }

@-ms-keyframes showContent {
  0% {
    opacity: 0;
    transform: scale(0.25); }
  100% {
    opacity: 1; } }

@keyframes showContent {
  0% {
    opacity: 0;
    transform: scale(0.25); }
  100% {
    opacity: 1; } }

@-webkit-keyframes starsBgHome {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-moz-keyframes starsBgHome {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-ms-keyframes starsBgHome {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@keyframes starsBgHome {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-webkit-keyframes starMotionHome1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-moz-keyframes starMotionHome1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-ms-keyframes starMotionHome1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@keyframes starMotionHome1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-webkit-keyframes starMotionHome2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-moz-keyframes starMotionHome2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-ms-keyframes starMotionHome2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@keyframes starMotionHome2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-webkit-keyframes starsBgWork {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-moz-keyframes starsBgWork {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-ms-keyframes starsBgWork {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@keyframes starsBgWork {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-webkit-keyframes starMotionWork1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-moz-keyframes starMotionWork1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-ms-keyframes starMotionWork1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@keyframes starMotionWork1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-webkit-keyframes starMotionWork2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-moz-keyframes starMotionWork2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-ms-keyframes starMotionWork2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@keyframes starMotionWork2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-webkit-keyframes starsBgAbout {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-moz-keyframes starsBgAbout {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-ms-keyframes starsBgAbout {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@keyframes starsBgAbout {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-webkit-keyframes starMotionAbout1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-moz-keyframes starMotionAbout1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-ms-keyframes starMotionAbout1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@keyframes starMotionAbout1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-webkit-keyframes starMotionAbout2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-moz-keyframes starMotionAbout2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-ms-keyframes starMotionAbout2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@keyframes starMotionAbout2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-webkit-keyframes starsBgContact {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-moz-keyframes starsBgContact {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-ms-keyframes starsBgContact {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@keyframes starsBgContact {
  0% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); } }

@-webkit-keyframes starMotionContact1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-moz-keyframes starMotionContact1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-ms-keyframes starMotionContact1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@keyframes starMotionContact1 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.15); }
  51% {
    opacity: 0;
    transform: scale(0.85); }
  100% {
    opacity: 1; } }

@-webkit-keyframes starMotionContact2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-moz-keyframes starMotionContact2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-ms-keyframes starMotionContact2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@keyframes starMotionContact2 {
  0% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 0;
    transform: scale(1.5); }
  51% {
    opacity: 0;
    transform: scale(0.5); }
  75% {
    opacity: 1; } }

@-webkit-keyframes workStarsBgUp {
  33% {
    transform: translateY(-1.5em); } }

@-moz-keyframes workStarsBgUp {
  33% {
    transform: translateY(-1.5em); } }

@-ms-keyframes workStarsBgUp {
  33% {
    transform: translateY(-1.5em); } }

@keyframes workStarsBgUp {
  33% {
    transform: translateY(-1.5em); } }

@-webkit-keyframes workStarsBgDown {
  33% {
    transform: translateY(1.5em); } }

@-moz-keyframes workStarsBgDown {
  33% {
    transform: translateY(1.5em); } }

@-ms-keyframes workStarsBgDown {
  33% {
    transform: translateY(1.5em); } }

@keyframes workStarsBgDown {
  33% {
    transform: translateY(1.5em); } }

@-webkit-keyframes workUp1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(15vh);
    opacity: 0; }
  51% {
    transform: translateY(-15vh);
    opacity: 0; } }

@-moz-keyframes workUp1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(15vh);
    opacity: 0; }
  51% {
    transform: translateY(-15vh);
    opacity: 0; } }

@-ms-keyframes workUp1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(15vh);
    opacity: 0; }
  51% {
    transform: translateY(-15vh);
    opacity: 0; } }

@keyframes workUp1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(15vh);
    opacity: 0; }
  51% {
    transform: translateY(-15vh);
    opacity: 0; } }

@-webkit-keyframes workUp2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(100vh);
    opacity: 0; }
  51% {
    transform: translateY(-100vh);
    opacity: 0; } }

@-moz-keyframes workUp2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(100vh);
    opacity: 0; }
  51% {
    transform: translateY(-100vh);
    opacity: 0; } }

@-ms-keyframes workUp2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(100vh);
    opacity: 0; }
  51% {
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes workUp2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(100vh);
    opacity: 0; }
  51% {
    transform: translateY(-100vh);
    opacity: 0; } }

@-webkit-keyframes workDown1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-15vh);
    opacity: 0; }
  51% {
    transform: translateY(15vh);
    opacity: 0; } }

@-moz-keyframes workDown1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-15vh);
    opacity: 0; }
  51% {
    transform: translateY(15vh);
    opacity: 0; } }

@-ms-keyframes workDown1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-15vh);
    opacity: 0; }
  51% {
    transform: translateY(15vh);
    opacity: 0; } }

@keyframes workDown1 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-15vh);
    opacity: 0; }
  51% {
    transform: translateY(15vh);
    opacity: 0; } }

@-webkit-keyframes workDown2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-100vh);
    opacity: 0; }
  51% {
    transform: translateY(100vh);
    opacity: 0; } }

@-moz-keyframes workDown2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-100vh);
    opacity: 0; }
  51% {
    transform: translateY(100vh);
    opacity: 0; } }

@-ms-keyframes workDown2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-100vh);
    opacity: 0; }
  51% {
    transform: translateY(100vh);
    opacity: 0; } }

@keyframes workDown2 {
  0% {
    transform: none; }
  50% {
    transform: translateY(-100vh);
    opacity: 0; }
  51% {
    transform: translateY(100vh);
    opacity: 0; } }

@-webkit-keyframes animScroll1 {
  0% {
    opacity: 0.25; }
  10% {
    opacity: 1; }
  55% {
    opacity: 0.25; } }

@-moz-keyframes animScroll1 {
  0% {
    opacity: 0.25; }
  10% {
    opacity: 1; }
  55% {
    opacity: 0.25; } }

@-ms-keyframes animScroll1 {
  0% {
    opacity: 0.25; }
  10% {
    opacity: 1; }
  55% {
    opacity: 0.25; } }

@keyframes animScroll1 {
  0% {
    opacity: 0.25; }
  10% {
    opacity: 1; }
  55% {
    opacity: 0.25; } }

@-webkit-keyframes animScroll2 {
  0% {
    opacity: 0.25; }
  20% {
    opacity: 0.25; }
  30% {
    opacity: 1; }
  75% {
    opacity: 0.25; } }

@-moz-keyframes animScroll2 {
  0% {
    opacity: 0.25; }
  20% {
    opacity: 0.25; }
  30% {
    opacity: 1; }
  75% {
    opacity: 0.25; } }

@-ms-keyframes animScroll2 {
  0% {
    opacity: 0.25; }
  20% {
    opacity: 0.25; }
  30% {
    opacity: 1; }
  75% {
    opacity: 0.25; } }

@keyframes animScroll2 {
  0% {
    opacity: 0.25; }
  20% {
    opacity: 0.25; }
  30% {
    opacity: 1; }
  75% {
    opacity: 0.25; } }

@-webkit-keyframes animScroll3 {
  0% {
    opacity: 0.25; }
  40% {
    opacity: 0.25; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.25; } }

@-moz-keyframes animScroll3 {
  0% {
    opacity: 0.25; }
  40% {
    opacity: 0.25; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.25; } }

@-ms-keyframes animScroll3 {
  0% {
    opacity: 0.25; }
  40% {
    opacity: 0.25; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.25; } }

@keyframes animScroll3 {
  0% {
    opacity: 0.25; }
  40% {
    opacity: 0.25; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.25; } }

.btn {
  border: 0.15em solid #0e417b;
  background: transparent;
  border-radius: 0.26em;
  padding: 0.85em 2.26em;
  color: #0e417b;
  box-shadow: 0 5px 10px rgba(14, 65, 123, 0.15);
  font-size: 1em;
  font-family: 'Source Code Pro';
  letter-spacing: -0.026em;
  transition: background ease 0.33s, box-shadow ease 0.33s, color ease 0.33s;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: 400; }
  @media (max-width: 35.5em) {
    .btn {
      min-width: 67%; } }
  .btn:hover {
    background: transparent;
    box-shadow: 0 10px 0 -6px rgba(14, 65, 123, 0.175); }
  .btn:active {
    box-shadow: none; }
  .btn.btn-primary {
    background: #0e417b;
    border-color: #0e417b;
    color: white;
    box-shadow: 0 5px 10px rgba(14, 65, 123, 0.25); }
    .btn.btn-primary:hover {
      color: #0e417b;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(14, 65, 123, 0.175); }
  .btn.btn-primary-light {
    background: #1359a9;
    border-color: #1359a9;
    color: white;
    box-shadow: 0 5px 10px rgba(19, 89, 169, 0.25); }
    .btn.btn-primary-light:hover {
      color: #1359a9;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(19, 89, 169, 0.175); }
  .btn.btn-primary-dark {
    background: #051529;
    border-color: #051529;
    color: white;
    box-shadow: 0 5px 10px rgba(5, 21, 41, 0.25); }
    .btn.btn-primary-dark:hover {
      color: #051529;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(5, 21, 41, 0.175); }
  .btn.btn-secondary {
    background: #84A98C;
    border-color: #84A98C;
    color: white;
    box-shadow: 0 5px 10px rgba(132, 169, 140, 0.25); }
    .btn.btn-secondary:hover {
      color: #84A98C;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(132, 169, 140, 0.175); }
  .btn.btn-accent {
    background: #FE5F55;
    border-color: #FE5F55;
    color: white;
    box-shadow: 0 5px 10px rgba(254, 95, 85, 0.25); }
    .btn.btn-accent:hover {
      color: #FE5F55;
      background: transparent;
      box-shadow: 0 6px 0 -3px rgba(254, 95, 85, 0.25); }
  .btn.btn-tertiary {
    background: #c55c3b;
    border-color: #c55c3b;
    color: white;
    box-shadow: 0 5px 10px rgba(197, 92, 59, 0.25); }
    .btn.btn-tertiary:hover {
      color: #c55c3b;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(197, 92, 59, 0.175); }
  .btn.btn-quaternary {
    background: #1985A1;
    border-color: #1985A1;
    color: white;
    box-shadow: 0 5px 10px rgba(25, 133, 161, 0.25); }
    .btn.btn-quaternary:hover {
      color: #1985A1;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(25, 133, 161, 0.175); }
  .btn.btn-quinary {
    background: #49b360;
    border-color: #49b360;
    color: white;
    box-shadow: 0 5px 10px rgba(73, 179, 96, 0.25); }
    .btn.btn-quinary:hover {
      color: #49b360;
      background: transparent;
      box-shadow: 0 10px 0 -6px rgba(73, 179, 96, 0.175); }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background: #DCDCDD;
  font-size: calc(14px + 0.15vh);
  font-family: 'Source Sans Pro';
  color: #181b1e;
  font-weight: 400; }
  @media (max-width: 64em) {
    body {
      font-size: calc(13px + 0.15vh); } }
  @media (max-width: 48em) {
    body {
      font-size: 14px; } }
  @media (max-width: 35.5em) {
    body {
      font-size: 12px; } }
  @media (max-width: 20em) {
    body {
      font-size: 11px; } }

a {
  color: #FE5F55;
  text-decoration: none;
  transition: color ease 0.33s; }
  a:hover {
    color: white; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro';
  font-weight: 300;
  letter-spacing: -0.026em; }
  h1.sans, h2.sans, h3.sans, h4.sans, h5.sans {
    font-family: 'Source Sans Pro';
    letter-spacing: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    border-bottom: 2px dotted rgba(254, 95, 85, 0.33); }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
      border: none; }

h1 {
  font-size: 3.33em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2.5em; }

header {
  padding: 2.5em 0 3.33em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.67), transparent); }

.wrap-logo {
  float: left;
  color: #DCDCDD;
  margin: 0 0 0 6.67%; }
  @media (max-width: 35.5em) {
    .wrap-logo {
      width: 100%;
      text-align: center;
      margin: 0;
      font-size: 1.15em; } }
  @media (max-width: 20em) {
    .wrap-logo {
      font-size: 1em; } }
  .wrap-logo h1 {
    margin: 0;
    font-size: 2em; }
  .wrap-logo span:first-child {
    margin-right: 0.25em;
    color: #DCDCDD; }
  .wrap-logo span:last-child {
    color: #FE5F55; }

nav {
  float: right;
  padding: 1em 6.67% 0.67em 0;
  position: relative; }
  @media (max-width: 48em) {
    nav {
      padding-right: 1.67em; } }
  @media (max-width: 35.5em) {
    nav {
      padding: 2.5em 0;
      position: fixed;
      font-size: 1.25em;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5)); } }
  nav a {
    padding: 1.25em 1.5em;
    color: #DCDCDD;
    text-transform: uppercase; }
    nav a:hover {
      color: #FE5F55; }
    nav a:last-child {
      margin-right: -1.5em; }
    @media (max-width: 35.5em) {
      nav a {
        padding: 1.5em 2em; } }

.app-inner {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll; }

.work .app-inner {
  overflow-y: hidden; }

.wrap-inner {
  max-width: 64rem;
  margin: 0 auto; }

.bg-wrap {
  height: 100vh;
  width: 100vw;
  z-index: 0; }
  .bg-wrap .bg {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw; }
    .bg-wrap .bg:after {
      content: "";
      position: absolute;
      top: -3em;
      left: -6em;
      min-height: calc(100vh + 6em);
      width: calc(100vw + 12em);
      background-size: cover;
      background-position: center center;
      background-color: #181b1e;
      background-image: url("../images/bg-space2.jpg");
      filter: brightness(0.25); }

.anim-scroll {
  display: block;
  text-align: center;
  width: 100%; }
  .anim-scroll > span {
    content: "";
    width: 2px;
    margin: 0 auto;
    height: 0.75em;
    display: block;
    background: #FE5F55;
    text-align: center;
    opacity: 0.25;
    position: relative; }
    .anim-scroll > span:nth-child(1) {
      animation: animScroll1 2s infinite; }
    .anim-scroll > span:nth-child(2) {
      animation: animScroll2 2s infinite; }
    .anim-scroll > span:nth-child(3) {
      animation: animScroll3 2s infinite; }
      .anim-scroll > span:nth-child(3):after {
        content: "";
        position: absolute;
        top: 100%;
        border-style: solid;
        border-width: 8px;
        left: -7px;
        border-color: #FE5F55 transparent transparent; }

#home, #work, #about, #contact {
  width: 100%; }

.home #wrap-home-top, .home #wrap-work-top, .home #wrap-about-top, .home #wrap-contact-top, .work #wrap-home-top, .work #wrap-work-top, .work #wrap-about-top, .work #wrap-contact-top, .about #wrap-home-top, .about #wrap-work-top, .about #wrap-about-top, .about #wrap-contact-top, .contact #wrap-home-top, .contact #wrap-work-top, .contact #wrap-about-top, .contact #wrap-contact-top {
  animation: showContent 0.5s forwards ease; }

.home .bg-stars {
  animation: starsBgHome 0.5s forwards ease; }

.home .star-field.field-1, .home .star-field.field-2 {
  animation: starMotionHome1 0.5s forwards ease; }

.home .star-field.field-3, .home .star-field.field-4 {
  animation: starMotionHome2 0.5s forwards ease; }

.work .wrap-nav a:nth-child(1) {
  color: #FE5F55;
  cursor: default; }

.work .bg-stars {
  animation: starsBgWork 0.5s forwards ease; }

.work .star-field.field-1, .work .star-field.field-2 {
  animation: starMotionWork1 0.5s forwards ease; }

.work .star-field.field-3, .work .star-field.field-4 {
  animation: starMotionWork2 0.5s forwards ease; }

.about .wrap-nav a:nth-child(2) {
  color: #FE5F55;
  cursor: default; }

.about .bg-stars {
  animation: starsBgAbout 0.5s forwards ease; }

.about .star-field.field-1, .about .star-field.field-2 {
  animation: starMotionAbout1 0.5s forwards ease; }

.about .star-field.field-3, .about .star-field.field-4 {
  animation: starMotionAbout2 0.5s forwards ease; }

.contact .wrap-nav a:nth-child(3) {
  color: #FE5F55;
  cursor: default; }

.contact .bg-stars {
  animation: starsBgContact 0.5s forwards ease; }

.contact .star-field.field-1, .contact .star-field.field-2 {
  animation: starMotionContact1 0.5s forwards ease; }

.contact .star-field.field-3, .contact .star-field.field-4 {
  animation: starMotionContact2 0.5s forwards ease; }

.bg-wrap.layer {
  position: absolute !important; }

header,
.app-inner,
#wrap-home-top,
#wrap-home-bottom,
#wrap-about-top,
#wrap-contact-top {
  pointer-events: visible !important; }

.star-field {
  position: absolute !important;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none; }
  .star-field.field-1, .star-field.field-2 {
    z-index: 0;
    opacity: 0.85; }
  .star-field.field-3, .star-field.field-4 {
    z-index: 2;
    opacity: 0.85; }
  .star-field.field-1 .star:nth-child(1) {
    left: 46vw;
    top: 58vh;
    transform: scale(0.67);
    filter: blur(0.37em);
    opacity: 0.85; }
    .star-field.field-1 .star:nth-child(1):after {
      transform: scale(0.75); }
  .star-field.field-1 .star:nth-child(2) {
    right: 25vw;
    top: 25vh;
    transform: scale(0.75);
    filter: blur(0.5em);
    opacity: 0.75; }
    .star-field.field-1 .star:nth-child(2):after {
      transform: scale(0.75); }
  .star-field.field-1 .star:nth-child(3) {
    left: 33vw;
    top: 15vh;
    transform: scale(0.87);
    filter: blur(0.38em);
    opacity: 0.5; }
    .star-field.field-1 .star:nth-child(3):after {
      transform: scale(0.925); }
  .star-field.field-1 .star:nth-child(4) {
    left: 10vw;
    top: 85vh;
    transform: scale(0.75);
    filter: blur(0.25em);
    opacity: 0.85; }
    .star-field.field-1 .star:nth-child(4):after {
      transform: scale(0.85); }
  .star-field.field-2 .star:nth-child(1) {
    right: 4vw;
    top: 33vh;
    transform: scale(0.87);
    filter: blur(0.275em);
    opacity: 0.85; }
    .star-field.field-2 .star:nth-child(1):after {
      transform: scale(0.925); }
  .star-field.field-2 .star:nth-child(2) {
    left: 10vh;
    top: 25vh;
    transform: scale(0.87);
    filter: blur(0.3em);
    opacity: 0.5; }
    .star-field.field-2 .star:nth-child(2):after {
      transform: scale(0.925); }
  .star-field.field-2 .star:nth-child(3) {
    right: 16vh;
    top: 90vh;
    transform: scale(0.87);
    filter: blur(0.37em); }
    .star-field.field-2 .star:nth-child(3):after {
      transform: scale(0.925); }
  .star-field.field-2 .star:nth-child(4) {
    left: 50vw;
    top: 75vh;
    transform: scale(0.87);
    filter: blur(0.45em);
    opacity: 0.5; }
    .star-field.field-2 .star:nth-child(4):after {
      transform: scale(0.925); }
  .star-field.field-3 .star:nth-child(1) {
    right: 43vw;
    top: 23vh;
    transform: scale(0.67);
    filter: blur(0.105em);
    opacity: 0.75; }
    .star-field.field-3 .star:nth-child(1):after {
      transform: scale(1); }
  .star-field.field-3 .star:nth-child(2) {
    right: 5vw;
    top: 55vh;
    transform: scale(0.75);
    filter: blur(0.15em);
    opacity: 0.85; }
    .star-field.field-3 .star:nth-child(2):after {
      transform: scale(0.925);
      opacity: 0.1; }
  .star-field.field-3 .star:nth-child(3) {
    left: 12vw;
    top: 54vh;
    transform: scale(0.95);
    filter: blur(0.125em);
    opacity: 0.95; }
    .star-field.field-3 .star:nth-child(3):after {
      transform: scale(0.925);
      opacity: 0.25; }
  .star-field.field-3 .star:nth-child(4) {
    left: 76vw;
    top: 52vh;
    transform: scale(0.5);
    filter: blur(0.15em);
    opacity: 0.5; }
    .star-field.field-3 .star:nth-child(4):after {
      transform: scale(0.925);
      opacity: 0.85; }
  .star-field.field-4 .star:nth-child(1) {
    right: 12vw;
    top: 65vh;
    transform: scale(0.8);
    filter: blur(0.12em);
    opacity: 0.25; }
    .star-field.field-4 .star:nth-child(1):after {
      transform: scale(0.85); }
  .star-field.field-4 .star:nth-child(2) {
    right: 29vw;
    top: 19vh;
    transform: scale(0.97);
    filter: blur(0.075em);
    opacity: 0.33; }
    .star-field.field-4 .star:nth-child(2):after {
      transform: scale(0.925); }
  .star-field.field-4 .star:nth-child(3) {
    right: 26vw;
    top: 88vh;
    transform: scale(0.77);
    filter: blur(0.15em);
    opacity: 0.5; }
    .star-field.field-4 .star:nth-child(3):after {
      transform: scale(1.25);
      opacity: 0.15; }
  .star-field.field-4 .star:nth-child(4) {
    left: 11vw;
    top: 77vh;
    transform: scale(0.57);
    filter: blur(0.25em);
    opacity: 0.75; }
    .star-field.field-4 .star:nth-child(4):after {
      transform: scale(0.925); }
  .star-field.field-4 .star:nth-child(5) {
    left: 50vw;
    top: 67vh;
    transform: scale(0.77);
    filter: blur(0.21em);
    opacity: 0.85; }
    .star-field.field-4 .star:nth-child(5):after {
      transform: scale(0.925);
      opacity: 0.5; }
  .star-field .star {
    content: "";
    height: 0.575em;
    width: 0.575em;
    background: white;
    border-radius: 50%;
    position: absolute;
    z-index: 1; }
    .star-field .star.ring:after {
      content: "";
      position: absolute;
      height: calc(100% + 2em - 1px);
      width: calc(100% + 2em - 1px);
      top: -1em;
      left: -1em;
      border: 1px solid white;
      border-radius: 50%;
      opacity: 0.75;
      filter: blur(0.25em); }

#wrap-home-top {
  overflow: hidden;
  width: 100vw;
  height: 100vh; }
  #wrap-home-top .home-intro {
    text-align: center;
    color: #DCDCDD;
    margin: 28vh auto 10vh;
    width: 100%;
    max-width: 64rem;
    left: 0;
    right: 0; }
    #wrap-home-top .home-intro h1 {
      font-size: 5em;
      margin: 0.5em; }
      @media (max-width: 64em) {
        #wrap-home-top .home-intro h1 {
          font-size: 4.5em; } }
      @media (max-width: 48em) {
        #wrap-home-top .home-intro h1 {
          font-size: 4em; } }
  #wrap-home-top .btn {
    margin: 3.33em auto;
    font-size: 1.5em;
    display: inline-block; }

#wrap-home-bottom {
  padding: 4em;
  background: linear-gradient(100deg, white 25%, #DCDCDD);
  position: relative;
  font-size: 2.15em;
  text-align: center;
  z-index: 2;
  display: block; }
  @media (max-width: 48em) {
    #wrap-home-bottom {
      padding: 3em; } }
  @media (max-width: 35.5em) {
    #wrap-home-bottom {
      padding: 1.5em 1.33em 4em; } }
  #wrap-home-bottom h2 {
    color: #FE5F55;
    font-size: 4em;
    margin: 0.25em 0;
    text-shadow: 0 2px 0 white; }
    @media (max-width: 48em) {
      #wrap-home-bottom h2 {
        font-size: 3em; } }
    @media (max-width: 35.5em) {
      #wrap-home-bottom h2 {
        font-size: 2.5em; } }
  #wrap-home-bottom h3 {
    font-size: 2em;
    font-weight: 100;
    margin: 0.75em 0 1em;
    text-shadow: 0 1px 0 white; }
    @media (max-width: 48em) {
      #wrap-home-bottom h3 {
        font-size: 1.5em; } }
    @media (max-width: 35.5em) {
      #wrap-home-bottom h3 {
        font-size: 1.33em; } }
  #wrap-home-bottom .btn {
    font-size: 0.75em;
    margin: 1em 2em 4em 0;
    display: inline-block; }
    @media (max-width: 48em) {
      #wrap-home-bottom .btn {
        font-size: 0.67em; } }
    @media (max-width: 35.5em) {
      #wrap-home-bottom .btn {
        font-size: 0.5em;
        margin: 1em auto 0.5em; } }

#wrap-work-top {
  overflow: hidden;
  width: 100vw;
  height: 100vh; }
  #wrap-work-top .SectionContainer {
    text-align: center;
    z-index: 1;
    color: #DCDCDD;
    height: 100%;
    width: 100%;
    padding: 1.5em 0 0; }

.work-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.work-item-wrap {
  padding: 0 5em;
  transform: translate3d(22vw, 100vh, 0) scale(0.5);
  opacity: 0.25;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transform-origin: top center;
  z-index: 0; }
  @media (max-width: 64em) {
    .work-item-wrap {
      padding: 0 5em 0 1.25em; } }
  .work-item-wrap.active {
    transform: none;
    opacity: 1;
    z-index: 1;
    pointer-events: visible; }

.work-item {
  display: flex;
  padding: 0;
  margin: 0 auto;
  max-width: 72em;
  background: linear-gradient(160deg, transparent 33%, rgba(25, 133, 161, 0.5));
  box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.33); }

.work-name, .work-img {
  width: 50%;
  flex: 1;
  margin: 3em; }

.work-name {
  text-align: left; }
  .work-name p {
    margin: 0;
    line-height: 1;
    color: #FE5F55;
    font-size: 1.5em; }
  .work-name h3 {
    margin: 0;
    padding: 0.15em 0 0.5em;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.15;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25); }
  .work-name h4 {
    font-weight: 400;
    margin: 2.5em 0.25em;
    padding: 0.33em 0 0.33em 2em;
    font-size: 1.15em;
    line-height: 1.67;
    border-left: 2px solid #FE5F55; }
  .work-name .btn {
    margin: 0 0 2em 2.5em;
    display: inline-block;
    font-size: 1.15em; }

.work-img {
  position: relative;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.33);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  background-size: cover;
  background-position: 10% 0; }
  .work-img.brendans-world {
    background-image: url("../images/work/brendans-world.png"); }
  .work-img.nebula-v1 {
    background-image: url("../images/work/nebula-1.png"); }
  .work-img.milk {
    background-image: url("../images/work/milk.png"); }
  .work-img.kourthouse {
    background-image: url("../images/work/kourthouse.png"); }
  .work-img.greene-street {
    background-image: url("../images/work/greene-street.png"); }
  .work-img.nebula-v5 {
    background-image: url("../images/work/nebula-5.png"); }

.work.up #star-bg {
  animation: workStarsBgUp 0.5s forwards ease; }

.work.up .field-1 .star, .work.up .field-2 .star {
  animation: workUp1 0.5s forwards ease; }

.work.up .field-3 .star, .work.up .field-4 .star {
  animation: workUp2 0.5s forwards ease; }

.work.down #star-bg {
  animation: workStarsBgDown 0.5s forwards ease; }

.work.down .field-1 .star, .work.down .field-2 .star {
  animation: workDown1 0.5s forwards ease; }

.work.down .field-3 .star, .work.down .field-4 .star {
  animation: workDown2 0.5s forwards ease; }

#wrap-about-top {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh; }
  #wrap-about-top .layer {
    min-height: 100vh; }

.wrap-about-content {
  position: relative;
  z-index: 2;
  padding: 2.5em 6.67em;
  top: 45vh;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  max-width: 80rem; }
  .wrap-about-content h1, .wrap-about-content h2 {
    color: white; }
  .wrap-about-content h2 {
    font-size: 1.75em;
    margin: 2.5em auto 3.33em;
    line-height: 1.33;
    text-align: justify;
    max-width: 33em; }
  .wrap-about-content .btn {
    margin: 1em;
    font-size: 1.25em; }

.resume-link {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  font-size: 1.25em;
  width: 100%;
  text-align: center; }
  .resume-link .anim-scroll {
    margin-top: 0.5em; }

#resume {
  padding: 2em;
  position: relative;
  font-size: 1.33em;
  text-align: left;
  z-index: 2;
  display: block;
  padding: 0; }

.wrap-resume {
  background: #efefef;
  box-shadow: 0 1.25em 1em -0.5em rgba(0, 0, 0, 0.15); }

.resume-head {
  position: relative;
  z-index: 1;
  padding: 3.33em 5em;
  background-color: #1985A1;
  box-shadow: 0 0.75em 1.5em rgba(0, 0, 0, 0.33) inset, 0 0em 3em rgba(0, 0, 0, 0.25) inset;
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25); }
  .resume-head:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg-leaf.jpg);
    background-size: cover;
    filter: brightness(0.5) hue-rotate(85deg) saturate(1.5);
    z-index: -1;
    opacity: 0.5; }
  .resume-head a {
    color: white;
    margin: 0 0.15em;
    border-bottom: 1px dotted #FE5F55; }
  .resume-head .resume-img {
    height: 8.5em;
    width: 8.5em;
    overflow: hidden;
    border-radius: 50%;
    border: 0.15em solid white;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.25), 0 0 0 1px white inset; }
    .resume-head .resume-img img {
      width: 115%;
      height: auto;
      position: relative;
      top: -0.15em; }
  .resume-head .resume-info {
    padding: 0 0 0 2.5em;
    color: white;
    display: inline-block;
    vertical-align: top; }
    .resume-head .resume-info h3 {
      font-size: 2.5em;
      margin: 0.15em 0 0.33em; }
    .resume-head .resume-info p {
      margin: 0.33em 0;
      font-weight: 300;
      font-size: 1em;
      color: #DCDCDD; }
    .resume-head .resume-info .resume-role {
      font-size: 1.25em;
      font-weight: 400; }

.resume-inner {
  padding: 3em 1.5em; }
  .resume-inner h3 {
    font-size: 1.75em;
    margin: 0.25em 0; }

.exp {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #DCDCDD;
  display: inline-block; }
  .exp.exp1 {
    background: #38CDD8; }
  .exp.exp2 {
    background: #8B60B4; }
  .exp.exp3 {
    background: #F39B1E; }
  .exp.exp4 {
    background: #85C226; }
  .exp.exp5 {
    background: #CE3B19; }
  .exp.exp6 {
    background: #5173E3; }

.resume-content {
  background: white;
  border-radius: 0.175em;
  margin: 1.5em 0 3.33em;
  overflow: hidden;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.125); }

.resume-exp li {
  padding: 1.33em;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  line-height: 1;
  font-size: 0.925em;
  background: white; }
  .resume-exp li:nth-child(even) {
    background: #f6f6f6; }

.resume-exp p {
  float: left;
  margin: 0.25em 1.5em; }

.resume-exp .exp {
  margin: 0.05em 0.15em;
  float: left;
  display: block; }

.resume-exp .duration {
  float: right;
  margin: 0.3em;
  font-size: 0.925em; }

.resume-timeline {
  padding: 2em 2.5em 0.5em;
  background: #181b1e; }
  .resume-timeline h3 {
    font-size: 1.25em;
    color: #DCDCDD; }

.experience-graph {
  margin-top: 1.5em; }
  .experience-graph text {
    fill: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33); }
  .experience-graph path {
    stroke: rgba(255, 255, 255, 0.25); }

#wrap-contact-top {
  height: 100vh;
  overflow: hidden; }

.wrap-contact-content {
  position: relative;
  z-index: 2;
  padding: 15em 5em 5em 5em;
  text-align: center; }
  .wrap-contact-content .btn {
    margin: 1em;
    font-size: 1.25em; }

#wrap-contact-bottom {
  padding: 4em;
  background: linear-gradient(100deg, white 25%, #DCDCDD);
  position: relative;
  font-size: 1.5em;
  text-align: center;
  z-index: 2;
  display: block; }
